# IDE и системные файлы
.idea/
.vscode/
.fleet/
assets/
.env
.env_template
logs/
mysql/
*.log

# Игнорируем ядро и загрузки
www/bitrix/
www/upload/

# Игнорируем вообще всё в www, чтобы не тащить стандартные папки (auth, shop, crm и т.д.)
www/*

# Папка для разработки
!www/local/

# Для ДЗ 
!www/homeworks/
!lesson_*/
!www/otus/

# Системные файлы в корне сайта
!www/.htaccess
!www/urlrewrite.php
!www/.access.php
!www/index.php
!www/bitrixsetup.php
