# Игнорируем всё в корне по умолчанию
/*

# Исключения (РАЗРЕШАЕМ эти папки)
!local/
!homeworks/
!otus/
!lesson_*/
!assets/

# Разрешаем конкретные файлы в корне сайта
!.gitignore
!index.php
!.htaccess
!urlrewrite.php
!.access.php
!bitrixsetup.php
!install.sh
!README.md
!Makefile
!docker-compose.yml
!.env
!.env_template

# Игнорируем тяжелые папки Битрикса и мусор (даже если они внутри разрешенных)
bitrix/
upload/
mysql/
logs/
php/
nginx/
apache/
.idea/
.vscode/
.fleet/
*.log
